{% extends 'base.html' %}
{% block content %}

<!-- Create de HTML About page with Bootstrap and CSS-->
<body>

  <div class="container">
    <center>
        <h1 class="mb-4 text-primary">About This Project</h1>
    </center>

    <p>
      This web application is a movie review platform developed using Django. It allows users to view a curated list of movies, each with detailed information including title, description, poster image, and an optional external link for more information.
    </p>

    <p>
      One of the key features of the application is the ability to search for movies by name using a dynamic search bar. The results are displayed in a visually organized format using Bootstrap cards.
    </p>

    <p>
      The project was developed as part of a hands-on workshop focused on using Git, GitHub, Python, and Django. Throughout the process, good development practices were applied such as version control with branches, commits, and merges.
    </p>

    <p>
      Media handling was configured to allow uploading and displaying custom images for each movie. All data is stored using Django’s built-in SQLite database and managed through the Django admin interface.
    </p>

    <p>
      Author: <strong>Juan Esteban Trujillo Montes</strong><br>
      Workshop: ST0251 - Taller 1 (Universidad EAFIT)
    </p>
  </div>

</body>
</html>

{% endblock content %}
